Workflow.json
{
  "name": "Main",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -96,
        384
      ],
      "id": "65aa19d0-69a5-4d08-82a2-e05a56e44f8d",
      "name": "Webhook",
      "webhookId": "f9032227-f035-4ecf-9f48-7c7c2f24785c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8b6a5a3-6088-48cf-a3df-db68d809e519",
              "name": "Name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "b536510b-5937-4aae-bf7b-e332aaffcf4d",
              "name": "E-Mail",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "17372a6b-070d-4f3e-8334-0117f5e8e568",
              "name": "Subject",
              "value": "={{ $json.body.domain }}",
              "type": "string"
            },
            {
              "id": "203514d3-4424-4ebe-aa83-f24b0d187c3e",
              "name": "Level",
              "value": "={{ $json.body.level }}",
              "type": "string"
            },
            {
              "id": "a2a8215c-abf1-4292-a015-f5e90c74caea",
              "name": "Goal",
              "value": "={{ $json.body.goal }}",
              "type": "string"
            },
            {
              "id": "c67608c7-a0f2-483a-b941-857e20d0a3ea",
              "name": "Duration",
              "value": "={{ $json.body.duration }}",
              "type": "number"
            },
            {
              "id": "30c7051d-0f9a-4e9d-a228-bc0aacbfa6ee",
              "name": "Budget",
              "value": "={{ Number($json.body.budget.replace(/\\D/g, \"\")) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        384
      ],
      "id": "aaa78900-a3a0-40e4-9721-4eb0b95b7b29",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dmH0wNg5RtuoowZp",
          "mode": "list",
          "cachedResultUrl": "/workflow/dmH0wNg5RtuoowZp",
          "cachedResultName": "notion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "course"
          ],
          "schema": [
            {
              "id": "course",
              "displayName": "course",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        352,
        384
      ],
      "id": "ae9d6e80-d4a1-45ae-92e9-1f535fd7cac7",
      "name": "Call 'notion'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert course recommendation system.\n\nYou are given:\n\n1. User Preferences:\n- Budget: {{ $('Edit Fields1').item.json.Budget }}\n- Level: {{ $('Edit Fields1').item.json.Level }}\n- Duration: {{ $('Edit Fields1').item.json.Duration }}\n- Goal: {{ $('Edit Fields1').item.json.Goal }}\n\n2. Available Courses:\n{{ JSON.stringify($('Code in JavaScript').item.json.courses) }}\n\n---\n\nYour task:\nSelect the BEST course for the user.\n\nEvaluation Criteria:\n1. Budget → Prefer within or closest\n2. Level → Match or closest\n3. Duration → Closest possible\n4. Goal alignment\n\n---\n\nRules:\n- Return ONLY ONE course\n- Do NOT invent data\n- VERY IMPORTANT:\n  - \"description\" MUST be copied EXACTLY from the selected course\n  - \"reason\" should be a SHORT explanation (2–3 lines max)\n\n---\n\nOutput format (STRICT JSON ONLY):\n\n{\n  \"name\": \"...\",\n  \"price\": ...,\n  \"duration\": ...,\n  \"level\": \"...\",\n  \"description\": \"...\",\n}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1024,
        384
      ],
      "id": "ba6d31dd-418a-424e-bbb7-581bfa30ec31",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1104,
        608
      ],
      "id": "a853e4e4-3ee1-4f06-9b5a-d9010f287b21",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "kE2QgLJuCDs2Pgn4",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Edit Fields').item.json;\n\n// 🔥 USER INPUT yaha se lo\nconst userSubject = ($('Edit Fields1').item.json.Subject || \"\").toLowerCase();\n\nconst categories = Object.keys(data);\n\nlet matchedCategory = null;\n\nfor (const cat of categories) {\n  const cleanCat = cat.toLowerCase();\n\n  if (\n    cleanCat.includes(userSubject) ||\n    userSubject.includes(cleanCat)\n  ) {\n    matchedCategory = cat;\n    break;\n  }\n}\n\nreturn [\n  {\n    json: {\n      userSubject,\n      matchedCategory: matchedCategory || \"No match found\",\n      courses: matchedCategory ? data[matchedCategory].courses : []\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        384
      ],
      "id": "3f589c19-adb9-436f-9cc9-f75eb868f212",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f3f23b3-7bbe-47af-b068-dbfc2d04e6ac",
              "name": "Cybersecurity",
              "value": "={{ $json['0'] }}",
              "type": "object"
            },
            {
              "id": "dfceb2e9-4777-4cd6-8059-f856bfb44f43",
              "name": "AI / GenAI",
              "value": "={{ $json['1'] }}",
              "type": "object"
            },
            {
              "id": "4d7fc55a-5df3-48fd-a8fe-c4441b6c938d",
              "name": "Mobile Development",
              "value": "={{ $json['2'] }}",
              "type": "object"
            },
            {
              "id": "59f6d68e-be19-433e-93eb-fb01cab658c5",
              "name": "DevOps",
              "value": "={{ $json['3'] }}",
              "type": "object"
            },
            {
              "id": "da922b31-f77b-43a0-af64-180e068c3bd1",
              "name": "Web Development",
              "value": "={{ $json['4'] }}",
              "type": "object"
            },
            {
              "id": "3fc01698-e623-465a-8df9-23028ec56c8d",
              "name": "Machine Learning",
              "value": "={{ $json['5'] }}",
              "type": "object"
            },
            {
              "id": "bb316bcb-d290-4c06-b333-e0abad9735c9",
              "name": "Data Science",
              "value": "={{ $json['6'] }}",
              "type": "object"
            },
            {
              "id": "57536939-8649-4e5c-87da-765d11fe6355",
              "name": "Programming",
              "value": "={{ $json['7'] }}",
              "type": "object"
            },
            {
              "id": "33d072d8-6167-4fc5-a52b-4b2090f92b3b",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        384
      ],
      "id": "d91895e9-0b03-4039-8f64-d10f5b9fb459",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: JSON.parse($json.text)\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        384
      ],
      "id": "b39e32c8-cc13-4524-882c-a7f4b5a37873",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1584,
        384
      ],
      "id": "c434bf13-3760-4f30-8f9e-a15ae4e740b2",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'notion'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Call 'notion'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "2db55254-e5b4-4148-9410-86369dcab5af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea456107a386602503bce1eb3848f84e91d4434749fa4560a95691cc7dc07df1"
  },
  "id": "1UTRk7fUkLJBUdhz",
  "tags": []
}